.chat-list {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 600px !important;
}

.chatonline {
	overflow-y: scroll;
	height: 600px !important;
}

textarea {
    width: 100%;
}
